/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #0f0f0f;
    color: #fff;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.navbar ul li a:hover,
.active {
    color: #2EDACD;
}

/* SECTION ACCUEIL */
.accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}

.accueil h1 {
    font-size: 32px;
    max-width: 500px;
}

.highlight {
    color: #2EDACD;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #2EDACD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: .3s;
}

.btn:hover {
    background: #25b6a9;
}

/* À propos */
.apropos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background: #F7F7F7;
}

.apropos img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2EDACD;
}

/* Projets */
.projets {
    text-align: center;
    padding: 80px 100px;
}

.cartes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.carte {
    width: 250px;
    padding: 20px;
    background: #F7F7F7;
    border-radius: 10px;
}

.carte span {
    display: block;
    margin: 10px 0;
    color: #2EDACD;
}

/* Compétences */
.competences {
    padding: 80px 100px;
    background: #F7F7F7;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.skills-box {
    width: 40%;
}

.bar {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bar div {
    background: #2EDACD;
    height: 10px;
    border-radius: 5px;
}